{% extends 'base.html' %}


{% block content %}
<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2>Welcome to EmployeeApp</h2>
                <h3>Your one-stop solution for employee management</h3>
            </hgroup>
            <p>This app showcases my skills in Python, Django,SQLITE and Bootstrap, offering features like employee registration, check-in, and check-out functionalities, along with an admin login page for management.</p>
            <figure>
                <img src="https://source.unsplash.com/random/800x600?office" alt="Office Environment" />
                <figcaption><a href="https://unsplash.com/photos/random" target="_blank">Image Source</a></figcaption>
            </figure>
        </section>
        <section class="feature">
            <h3>Features</h3>
            <p>Register new employees, manage check-ins and check-outs, and access administrative controls for comprehensive employee management.</p>
        </section>
        <section class="feature">
            <h3>Designed with</h3>
            <p>Developed using Python, Django, SQLITE and Bootstrap to create a responsive and user-friendly interface.</p>
        </section>
    </div>
</main>


{% endblock %}